<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Company>示范性软件学院联盟</Company><Pages>17</Pages><Words>7053</Words><Characters>8522</Characters><Lines>11</Lines><Paragraphs>3</Paragraphs><TotalTime>12</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>8868</CharactersWithSpaces><Application>WPS Office_12.1.0.23542_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>